################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs/GIT/v15
/.vs
/src/Testy/MaafLajbrryTests/.vs/MaafLajbrryTests/v15
/src/Testy/MaafLajbrryTests/Debug
/src/Testy/MaafLajbrryTests/Release
/src/Profiling/Profiling/Debug
/src/Profiling/Profiling/Release
/src/Testy/MaafLajbrryTests/GUI/Debug
*.ilk
*.iobj
*.ipdb
*.pdb
/src/.vs/Karkulacka/v15
/src/GUI/Debug
/src/GUI/Release
/src/Profiling/Debug
/src/Profiling/Release
/src/Testy/Release
